<?xml version="1.0"?>
<phpunit bootstrap="./Functional/bootstrap.php" 
         colors="true" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         processIsolation="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.3/phpunit.xsd">
    <testsuite name="RmIce Test Suite">
        <directory>./Functional</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory suffix=".php">./Functional</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
